@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.Navbar{
    background-color: #41c8c8;
    border-bottom: 2px solid white;
    height: 75px;
    display: flex;
    justify-content:space-around;
    
}  

.Navbar-inner{
    width: 1000px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "content1 content2 content3 content4 content5 ";
    
    }
    .Navbar-home-icon{
      grid-area: content1;
      justify-self: center;
      align-self: center;
    }
.left-content{
  grid-area: content2;
 
}

.center-content{
  grid-area: content3;
  justify-self: center;
    }
.right-content{
  grid-area: content4;
}
.Navbar-blank-pic{
  border-radius: 50%;
  grid-area: content5;
  justify-self: center;
  align-self: center;
}
.Navbar-burger-menu{
  display: none;
}
    .Navbar-inner-logout{
        background-color: rgba(210, 115, 31, 0);
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          ". content1 content3 ";
        grid-gap: 0.2rem;
        }   

/* rgb(110, 191, 191); */
.btn{
    color: white;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    border: solid white 2px;
    padding: 3.5px 6px 2px 6px  ;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px #0d0808;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: #48e0e0;


}
.btn:hover{
background-color: #cd8705;
transition: ease 0.5s;

}
.Navbar-flex{
    justify-self: center;
    display: flex;
    align-items:center;
gap: 15px;
   
}
.Login-register-btns-logout{
    padding-left: 80px;
    grid-area: content3;
}



.Navbar-logo-logout{
  grid-area: content1;
  justify-self: center;
}

@media only screen and (max-width: 1024px) {
    .Navbar-inner-logout{
        background-color: rgba(210, 115, 31, 0);
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          " . content1 content3 ";
        
        }  


  }

  @media only screen and (max-width: 768px) {
    .Navbar-inner-logout{
        background-color: rgba(210, 115, 31, 0);
        width: 550px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          " . content1 content3 ";
        
        }  

  }
  @media only screen and (max-width: 425px) {
    .Navbar-inner-logout{
        background-color: rgba(210, 115, 31, 0);
        width: 320px;
        display: grid;
        grid-template-columns:  160px 160px;
        grid-template-rows: 1fr;
        grid-template-areas:
          " content1 content3 ";
        
        }  
        .Navbar-logo-logout{
padding-left: 0px;
        }
        .Login-register-btns-logout{
            padding-right: 120px;
        }
        .Navbar-inner{
       
          width: 300px;
          display: grid;
          grid-template-columns:  1fr 1fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas:
            "content1 content2 content3 ";
           
          }

    .Navbar-burger-menu{
      display: inline;
    }

.left-content{
  display: none;
}
.right-content{
  display: none;
}
.center-content{
  grid-area: content2;
  place-self: center;
}
.Navbar-home-icon{
  grid-area: content1;
}
.Navbar-burger-menu{
  grid-area: content3;
  place-self: center;
}
.Navbar-blank-pic{
  display:none;
}

  }
  @media only screen and (min-width: 320px) {


    .Navbar-inner{

      width: 350px;
      display: grid;
      grid-template-columns:  1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "content1 content2 content3 ";
       
      }

.left-content{
display: none;
}
.right-content{
display: none;
}
.center-content{
grid-area: content2;
place-self: center;
}
.Navbar-home-icon{
grid-area: content1;
justify-self: center;

}
.Navbar-burger-menu{
grid-area: content3;
place-self: center;
display: inline;

}
.Navbar-blank-pic{
display:none;
}
  }

  @media only screen and (max-width: 320px) {
    .Navbar-inner-logout{
        background-color: rgba(210, 115, 31, 0);
        width: 320px;
        display: grid;
        grid-template-columns:  160px 160px;
        grid-template-rows: 1fr;
        grid-template-areas:
          " content1 content3 ";
        
        }  
        .Navbar-logo-logout{
padding-left: 00px;
        }
        .Login-register-btns-logout{
            padding-right: 170px;
        }

        .Navbar-inner{
          width: 300px;
          display: grid;
          grid-template-columns:  1fr 0.2fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas:
            "content1 content2 content3 ";
           
          }

.left-content{
  display: none;
}
.right-content{
  display: none;
}
.center-content{
  grid-area: content2;
  place-self: center;
}
.Navbar-home-icon{
  grid-area: content1;
  justify-self: center;

}
.Navbar-burger-menu{
  grid-area: content3;
  place-self: center;
  display: inline;
  
}
.Navbar-blank-pic{
  display:none;
}
  }