@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.Navbar{
    background-color: rgb(65, 200, 200);
    border-bottom: 5px solid white;
    height: 80px;
    display: flex;
    justify-content:space-around;
    
}  
/* rgb(110, 191, 191); */
.white{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    border: solid white 2px;
    padding: 3.5px 6px 2px 6px  ;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px #0d0808;
    box-shadow:1px 1px #0d0808 ;
}
.white:hover{
background-color: orange;

}
.Navbar-list{
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content:space-around;
}

.Navbar-logo{
    border-radius: white solid 2px;
}

.Navbar-inner{
background-color: rgba(210, 115, 31, 0);
width: 1000px;
}
.Navbar-login{
    position: relative;
    left: 120px;
}
.Navbar-home{
    position: relative;
    right: 120px;
}