@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');
:root {
    --persian-red: #C62C2C;
    --imperial-red: #ED2938;
    --dark-orange:#FF8C01;
    --dark-charcoal:#333333;
    --black: #000000;
  }

.landing-page-background{
background: -webkit-linear-gradient(to right, #010101, #d46c04); 
background:  #c4640ae8; 

    height: 550px;
    display: flex;
}
.landing-page-main{
    margin: auto;
    background-image: url("./Images/wallpaper.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    display: grid;
    grid-template-columns:  1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      ". content3 "
      "content1 content3 "
      "content2 content3 ";
      min-width: 1000px;
      max-width: 1000px;
      border-right: 5px solid rgb(252, 252, 252);
      border-left: 5px solid rgb(252, 252, 252);
   
}

.landing-page-button{
   
    grid-area: content2;
    background-color:rgba(255, 255, 255, 0);
    height: 45px;
    width: 220px;
    justify-self: center;
    border: rgb(254, 252, 252) solid 3px;
    border-radius:5px;
    color: white;
    align-self: start;
    font-size: 22px;
    text-shadow: 2px 2px #020202;
  
  transition: ease 1s;
  cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.landing-page-title{
    grid-area: content1;
    color: white;
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
    justify-self: center;
    text-shadow: 2px 2px #0d0808;
    padding: 50px 0px 0px 0px;
}
.landing-page-text{
    font-size: 22px;
    color: var(--dark-orange);
    padding: 40px;
    grid-area: content3;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    animation-name: moving-text;
    animation-duration: 1.5s;
    text-shadow: 1px 1px #b53232d8;

}

  @keyframes moving-text {
    from {
        opacity: 0;
        transform: translate( 0px, -50px);
    }
    to {
        opacity: 1;
    
    }
  }


  .landing-page-button:hover{
    opacity: 1;
    transition: ease 0.7s;
    transform: scale(1.2);
    
  }

