@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');

.main-footer {
    background-color: #010101;
    color: aliceblue;
    font-size: 1.3rem;
    padding: 20px 10px;
    font-family: 'Josefin Sans', sans-serif;
}

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;

        .footer-navigation {
            display: flex;
            gap: 7px;

            li {
                margin-bottom: 30px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    color: #ff8c01;
                }
            }
    
            .vl {
                border-left: 2px solid #ff8c01;
                height: 120px;
            }
        }

        .footer-socials {
            text-align: center;

            svg {
                padding: 10px;
                font-size: 1.3em;
                cursor: pointer;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .footer-contact {
            text-align: center;
        }

        i {
            align-self: center;
            color: #ff8c01;
        }

        .back-to-top-icon {
            align-self: flex-end;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #ff8c01;
            }
        }
    }


    //Media queries

    @media screen and (min-width: 850px) {
        .main-footer {
            font-size: 1.5rem;
        }
        
        .footer-top {
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            gap: 10px;
            margin-bottom: 10px;

        .footer-navigation {
            li {
                margin-bottom: 10px;
            }
            .vl {
                height: 90px;
            }
        }



        .footer-logo, .footer-socials {
            align-self: center;
        }
        }

        .footer-bottom {
            flex-direction: row;
            justify-content: space-around;
            margin: 0 100px;
            
            .footer-contact {
                text-align: left;
            }
        }
    }

    //Makes back-to-top button go up smoothly
    @media screen and (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }